.about {
  padding: 80px;
  background: #1e1e1e;
}

.about h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #00f5c8;
}

.about-container {
  max-width: 900px;
  margin: auto;
}

.about-text p {
  color: #cfcfcf;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-text strong {
  color: #00f5c8;
}
