.contact {
  padding: 80px 20px;
  background: #1e1e1e;
  text-align: center;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #00f5c8;
}

.contact-subtitle {
  color: #b5b5b5;
  margin-bottom: 50px;
}

.contact-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.contact-card {
  background: #262626;
  padding: 25px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-8px);
}

.contact-card h3 {
  color: #00f5c8;
  margin-bottom: 10px;
}

.contact-card p,
.contact-card a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 15px;
}

.contact-card a:hover {
  color: #00f5c8;
}
