* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #1e1e1e;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #cfcfcf;
}

.nav-links a.active {
  color: #00f5c8;
}

.btn {
  background: #00f5c8;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
}

.hero-text {
  max-width: 550px;
}

.intro {
  color: #00f5c8;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.hero-text h3 {
  color: #00f5c8;
  margin-bottom: 15px;
}

.desc {
  color: #b5b5b5;
  margin-bottom: 30px;
}

.hire-btn {
  text-decoration: none;
  background: #00f5c8;
  color: #000;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: bold;
}

.hero-img img {
  width: 755px;
}

/* PROJECTS SECTION */
.projects {
  padding: 80px;
  text-align: center;
}

.projects h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.projects-subtitle {
  color: #b5b5b5;
  margin-bottom: 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #262626;
  padding: 25px;
  border-radius: 16px;
  text-align: left;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h3 {
  margin-bottom: 10px;
  color: #00f5c8;
}

.project-card p {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 15px;
}

.project-card span {
  font-size: 13px;
  color: #9f9f9f;
}

.project-links {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.project-links a {
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  background: #333;
  color: #fff;
}

.project-links .live {
  background: #00f5c8;
  color: #000;
}
.hero-buttons {
  display: flex;
  gap: 15px;
}

.outline-btn {
  padding: 12px 28px;
  border-radius: 25px;
  border: 2px solid #00f5c8;
  color: #00f5c8;
  text-decoration: none;
  font-weight: bold;
}
.logo {
  width: 45px;
  height: 45px;
  background: #00f5c8;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
.btn a{
    text-decoration: none;
}

